{% extends 'layout.html' %}

{% block page_header %}
    {{ page_header }}
    {% if perms.products.add_product %}
        <a href="{% url 'products:create' %}" class="btn btn-info" style="display: block; float: right"><i class="bi bi-plus-circle"></i></a>
    {% endif %}
    {% if filter_choice %}
        <a href="#collapseFilter" class="btn btn-secondary mr-1" style="display: block; float: right" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseFilter"><i class="bi bi-filter"></i></a>
    {% endif %}
{% endblock page_header %}

{% block content %}
    {% include 'products/subform.html' %}
{% endblock content %}