{% extends 'layout.html' %}

{% block page_header %}
    {% if product.actual == False %}<i class="bi bi-file-earmark-zip text-secondary"></i>{% endif %}

    {% if product.sanctioned == 'True' %}<i class="bi bi-exclamation-circle text-danger"></i>
    {% elif product.sanctioned == 'False' %}<i class="bi bi-check2-circle text-success"></i>
    {% else %}<i class="bi bi-question-circle text-warning"></i></i>{% endif %}
    {{ product.title }}

    {% if perms.products.change_product %}
        <a href="{% url 'products:update' product.id %}" class="btn btn-info" style="display: block; float: right"><i class="bi bi-pencil-square"></i></a>
    {% endif %}

    {% if perms.products.delete_product %}
        <a href="{% url 'products:delete' product.id %}" class="btn btn-danger mr-1" style="display: block; float: right"><i class="bi bi-x-lg"></i></a>
    {% endif %}

{% endblock page_header %}

{% block content %}

    <dl>
        <div class="row">
            <dt class="col-sm-2">номер</dt>
            <dd class="col-sm-10">{{ product.number }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">категория</dt>
            <dd class="col-sm-10">{{ product.get_category_display }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">подкатегория</dt>
            <dd class="col-sm-10">{{ product.subcategory|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">группа</dt>
            <dd class="col-sm-10">{{ product.group|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">приоритет</dt>
            <dd class="col-sm-10">{{ product.priority|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">свойства</dt>
            <dd class="col-sm-10"><span style="white-space: pre">{{ product.properties|default_if_none:'' }}</span></dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">INCI</dt>
            <dd class="col-sm-10">{{ product.inci|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">ввод, %</dt>
            <dd class="col-sm-10">{{ product.dosage|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">цвет</dt>
            <dd class="col-sm-10">{{ product.color|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">форма</dt>
            <dd class="col-sm-10">{{ product.form|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">растворимость</dt>
            <dd class="col-sm-10">{{ product.solubility|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">регистрация</dt>
            <dd class="col-sm-10">{{ product.registration|default_if_none:'' }}</dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">санции</dt>
            <dd class="col-sm-10">
                {% if product.sanctioned == 'True' %}<i class="bi bi-exclamation-circle text-danger"> санкционный</i>
                {% elif product.sanctioned == 'False' %}<i class="bi bi-check2-circle text-success"> не санкционный</i>
                {% else %}<i class="bi bi-question-circle text-warning"> необходима проверка</i>{% endif %}
            </dd>
        </div>
        {% if product.actual is False %}
            <div class="row">
                <dt class="col-sm-2">актуальный</dt>
                <dd class="col-sm-10"><i class="bi bi-file-earmark-zip text-secondary"> не актуальный</i></dd>
            </div>
        {% endif %}
        <div class="row">
            <dt class="col-sm-2">описание</dt>
            <dd class="col-sm-10"><span style="white-space: pre">{{ product.description|default_if_none:'' }}</span></dd>
        </div>
    </dl>

    <br>

    <a href="{% url 'samples:create' %}?product={{ product.id }}" class="btn btn-outline-secondary mb-1" style="display: block; float: right" title="добавить образец"><i class="bi bi-node-plus"></i></a>
    <a href="{% url 'tasks:create' %}?product={{ product.id }}" class="btn btn-outline-secondary mr-1 mb-1" style="display: block; float: right" title="добавить задачу"><i class="bi bi-journal-plus"></i></a>

    <!-- Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="home" aria-selected="true">Задачи</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="samples-tab" data-toggle="tab" href="#samples" role="tab" aria-controls="profile" aria-selected="false">Образцы</a>
        </li>
    </ul>

    <!-- TabsContent -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
            <br/>
            {% include 'tasks/subform.html' %}
        </div>

        <div class="tab-pane fade" id="samples" role="tabpanel" aria-labelledby="samples-tab">
            <br/>
            {% include 'customers/samples/subform.html' %}
        </div>
    </div>

{% endblock %}