{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <div class="h2 mt-3 mb-4">
        Вводная информация
    </div>

    <div>
        Сайт CRM системы, используемой в реальных условиях для коммуникации и взаимодействия между Производителем химического сырья и локальными  Дистрибьюторами.
        CRM служит источником информации об итогах тестирования и внедрения продуктов, отслеживания выполнения задач и оценки прогресса работы Дистрибьютора.
    </div>
    <br>
    <div class="h5">Реализовано:</div>
    <ul>
        <li>вход только зарегистрированным пользователям</li>
        <li>права доступа Производителя и Дистрибьюторов</li>
        <li>зависимые списки / dependent dropdown </li>
        <li>фильтрация отображения актуальных данных</li>
    </ul>
    <div class="h5">Детали прав доступа:</div>
    <ul>
        <li>Дистрибьютор видит и работает только со своими клиентами, контактами, проектами и образцами</li>
        <li>Производитель добавляет клиентов и распределяет между дистрибьюторами</li>
        <li>Производитель добавляет продукты и отображает их актуальность</li>
        <li>Производитель может удалить ранее внесенный образец</li>
        <li>Удалить задачу может только постановщик</li>
    </ul>

{% endblock content %}
